page-results{
    ion-col.my-thin-col {
        align-content: center;
        align-self: center;
        flex: 0 0 90px;
        padding: 10px, 10px, 10px, 0px;
        margin: 5px;
        background: lightgrey;
        height: 200px;
        border-radius: 10px;
        font-size: 12px;
        @media screen and (max-width: $break-small) {
            height: 150px;
            padding: 5px, 5px, 5px, 0px;
            margin: 2px;
            font-size: 10px;
        }
        @media screen and (min-width: $break-large) {
            height: 250px;
            padding: 5px, 5px, 5px, 0px;
            margin: 2px;
            font-size: 14px;
        }
    }
    .resultformat {
        padding: 0px;
        margin: 0px 10px 0px 10px;
        font-size: 36px;
        font-weight: bold;
    }
    .stagename {
        margin-top: 4px;
        margin-bottom: 4px;
        @media screen and (max-width: $break-small) {
            margin-top: 4px;
            margin-bottom: 4px;
        }
        @media screen and (min-width: $break-large) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .stageimg {
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-radius: 5px;
        box-shadow: 2px 2px 4px grey;
    }
    figure {
        padding: 0px;
        margin: 0px;
        position: relative;
    }
    figcaption {
        background: rgba(0, 0, 0, 0.4);
        padding: 0px;
        position: absolute;
        bottom: 2px;
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 0px 0px 3px #333333;
        color: white;
        border-radius: 0px 0px 5px 5px;
        @media screen and (max-width: $break-small){
            font-size: 14px;
            width: 100%;
            max-width: 64px;
            margin-left: 8px;
        }
        @media screen and (min-width: $break-large) {
            font-size: 36px;
        }   
    }
    img {
        align-self: center;
        //display: block;
        max-width:96px;
        max-height:96px;
        width: auto;
        height: auto;
        @media screen and (max-width: $break-small) {
            max-width: 64px;
            max-height: 64px;
            width: auto;
            height: auto;
        }
        @media screen and (min-width: $break-large) {
            max-width:128px;
            max-height:128px;
            width: auto;
            height: auto;
        }
      }
      .content {
          background: rgb(236, 236, 236);
      }
      .header {
          background: darkslategray;          
      }
      .toFloat {
          float: left;
      }
      ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 98%;
        height: 100%;
        text-align: center;
      }
      h1 {
        background: lightgrey;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-shadow: 2px 2px 5px grey;
        border-radius: 5px;
        box-shadow: 1px 1px 8px #AAAAAA;
      }
}