<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Picks/Bans</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 align ="center">Pick/Ban</h3>
  <h4>
    <ng-container [ngSwitch]= "teamTurn">
      <ng-container *ngSwitchCase="1">
        <div [hidden]="!teamTurn == '1'" align="center">Team 1 Pick</div>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <div [hidden]="!teamTurn == '2'" align="center">Team 2 Pick</div>
      </ng-container>
    </ng-container>
  </h4>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let stage of stages; let i = index">
        <ion-col padding align-self-start tappable align="center" class='my-thin-col'>
          <div (click)="handleClick(stage, i)">
            <img width="128" height="128" src="{{stage.imgsrc}}" onerror="this.src = `assets/imgs/error.png`">
          </div>
          <ng-container *ngIf="phase(stage.phase)">
            <div [hidden]="!stage.hideme" align="center">{{stage.pickNum}}</div>
          </ng-container>
          <p>{{stage.name}}</p>
          <p>{{stage.jpname}}</p>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button secondary (click) = "restoreElement()">Undo</button>
  <button ion-button secondary (click) = "reset()">Reset</button>
</ion-content>