<ion-header>
  <!--<ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Picks/Bans</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content class="content">
  <h1>
    <ng-container *ngIf="count>=2">
        <ng-container [ngSwitch]= "teamTurn">
            <ng-container *ngSwitchCase="1">
              <div [hidden]="!teamTurn == '1'" align="center" class ="t1">Team 1 Pick</div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <div [hidden]="!teamTurn == '2'" align="center" class ="t2">Team 2 Pick</div>
            </ng-container>
          </ng-container>
    </ng-container>
    <ng-container *ngIf="count<2">
        <ng-container [ngSwitch]= "teamTurn">
            <ng-container *ngSwitchCase="1">
              <div [hidden]="!teamTurn == '1'" align="center" class ="t1">Team 1 Ban</div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <div [hidden]="!teamTurn == '2'" align="center" class ="t2">Team 2 Ban</div>
            </ng-container>
          </ng-container>
    </ng-container>      
  </h1>
  <ion-grid>
    <ion-row justify-content-center>
      <ng-container *ngFor="let stage of stages; let i = index">
        <ion-col tappable  (click)="handleClick(stage, i)" align="center" class='my-thin-col'>
          <figure>
              <div>
                  <img width="128" height="128" src="{{stage.imgsrc}}" onerror="this.src = `assets/imgs/error.png`" class="stageimg">
                </div>
                <ng-container *ngIf="phase(stage.phase)">
                  <figcaption [hidden]="!stage.hideme" align="center" class="pickformat">{{stage.pickNum}}</figcaption>
                </ng-container>
          </figure>          
          <ng-container>
            <p class="stagename">{{stage.name}}</p>
            <p class="stagename">{{stage.jpname}}</p>
          </ng-container>          
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
  <div align="center">
  <button ion-button menuToggle>Menu</button>
  <ng-container *ngIf="allowUndo">
    <button ion-button (click) = "restoreElement()">Undo</button>
  </ng-container>
  <ng-container *ngIf="!allowUndo">
    <button ion-button color = "danger">Undo</button>
  </ng-container>
  
  <button ion-button (click) = "resetConfirm()">Reset</button>
</div>
</ion-content>